<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰작성하기</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/review.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header_container padding_container">
        <div class="logo">
          <a href="/review">REVIEW</a>
        </div>
        <nav class="nav">
          <a href="/review/movie">영화</a>
          <a href="/review/book">도서</a>
          <a href="/review/album">앨범</a>
        </nav>
        <div class="search">
          <a href="/review/profile" class="search_profile">내 정보</a>
          <a href="/reivew/login" class="search_loginBtn">로그인</a>
          <form class="search_form" action="/review/search">
            <input type="text" placeholder="리뷰 검색하기" />
            <button class="search_input_btn">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </header>
    <main class="width_container">
      <form class="new_form" id="add_form">
        <div class="review_container">
          <select name="category" id="category" class="add_category">
            <option value="영화">영화</option>
            <option value="도서">도서</option>
            <option value="앨범">앨범</option>
          </select>
          <input
            type="text"
            name="title"
            placeholder="글의 제목을 입력해주세요"
            class="add_title"
          />
          <input
            type="text"
            name="subTitle"
            placeholder="감상한 작품의 제목을 입력해주세요"
            class="add_subTitle"
          />
          <label for="image_btn" class="image_btn">이미지 추가</label>
          <input
            type="file"
            id="image_btn"
            class="add_image"
            accept="image/*"
          />
          <span class="image_span"></span>
        </div>
        <textarea
          name="content"
          id="review_textarea"
          class="add_content"
        ></textarea>
      </form>
      <div class="btn_container">
        <button class="review_btn">작성</button>
      </div>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
    <script src="../src/javascript/add_review.js"></script>
    <script src="../src/javascript/index.js"></script>
    <script src="../src/javascript/image_uploader.js"></script>
  </body>
</html>
