<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰작성하기</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header_container padding_container">
        <div class="logo">
          <a href="/review">REVIEW</a>
        </div>
        <nav class="nav">
          <a href="/review/movie">영화</a>
          <a href="/review/book">도서</a>
          <a href="/review/album">앨범</a>
        </nav>
        <div class="search">
          <a href="/review/profile" class="search_profile"></a>
          <a href="/review/login" class="search_loginBtn">로그인</a>
          <form class="search_form" action="/review/search">
            <input type="text" placeholder="리뷰 검색하기" />
            <button class="search_input_btn">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </header>
    <main class="width_container">
      <div class="book_content_section">
        <div class="write">
          <a href="/review/new">리뷰작성하기</a>
        </div>
        <ul class="contents_container"></ul>
      </div>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
    <script src="../dist/category.js"></script>
  </body>
</html>
