<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="#">REVIEW</a>
      </div>
      <nav class="nav">
        <a href="#">영화</a>
        <a href="#">책</a>
        <a href="#">앨범</a>
      </nav>
      <div class="search">
        <a href="#">내 정보</a>
        <a href="review">로그인</a>
        <input type="text" placeholder="리뷰 검색하기" />
      </div>
    </header>

    <main>
      <div class="write">
        <a href="review.html">리뷰작성하기</a>
      </div>
      <ul class="contents_container">
        <li class="content">
          <a href="#">
            <div class="content_box">
              <div class="content_text_container">
                <p class="content_title">제목은 영화 벌새다.</p>
                <p class="content_description">
                  본문의 내용은 재미있따@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                </p>
                <span>Hyebin</span>
                <span> 영화</span>
              </div>
              <div class="img_container">
                <img src="./img/1.jfif" alt="" />
              </div>
            </div>
          </a>
        </li>
      </ul>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
    <script src="./javascript/index.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  </body>
</html>
