<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰작성하기</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/review">REVIEW</a>
      </div>
      <nav class="nav">
        <a href="#">영화</a>
        <a href="#">책</a>
        <a href="#">앨범</a>
      </nav>
      <div class="search">
        <a href="/review/profile" class="search_profile">내 정보</a>
        <a href="/review/login" class="search_loginBtn">로그인</a>
        <input type="text" placeholder="리뷰 검색하기" />
      </div>
    </header>
    <main>
      <div class="profile_content_section">
        <div class="profile_content_length"></div>
        <ul class="contents_container"></ul>
      </div>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
    <script src="../javascript/profile.js"></script>
    <script src="../javascript/user.js"></script>
  </body>
</html>
