<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/sign.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="sign">
      <form>
        <div class="sign_logo">
          <a href="/review">REVIEW</a>
        </div>
        <div class="sign_id">
          <p>아이디:</p>
          <input type="text" placeholder="아이디" class="input_id js_input" />
          <p class="js_id"></p>
        </div>
        <div class="sign_password">
          <p>패스워드:</p>
          <p class="sub_p">8자이상을 입력해주세요</p>
          <input
            type="password"
            placeholder="비밀번호"
            class="input_password js_input password"
          />
          <p class="js_password"></p>
          <p>비밀번호 확인</p>
          <input
            type="password"
            placeholder="비밀번호확인"
            class="input_password2 js_input password"
          />
          <p class="js_password2"></p>
        </div>
        <div class="sign_nickname">
          <p>별명</p>
          <p class="sub_p">
            다른 유저와 겹치지 않은 별명을 입력해주세요(2~15자)
          </p>
          <input
            type="text"
            placeholder="별명(2~15자)"
            class="input_nickname js_input"
          />
          <p></p>
        </div>
        <button class="sign_in_btn">회원가입완료</button>
        <div class="sign_login">
          <span>이미 아이디가 있으신가요 ?</span>
          <a href="/review/login">로그인</a>
        </div>
      </form>
    </section>
    <script src="/javascript/signup.js"></script>
  </body>
</html>
