<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰작성하기</title>
    <link rel="stylesheet" href="/public/css/header.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
    <link rel="stylesheet" href="/public/css/update.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header_container padding_container">
        <div class="logo">
          <a href="/review">REVIEW</a>
        </div>
        <nav class="nav">
          <a href="/review/movie">영화</a>
          <a href="/review/book">도서</a>
          <a href="/review/album">앨범</a>
        </nav>
        <div class="search">
          <a href="/review/profile" class="search_profile">내 정보</a>
          <a href="/review/login" class="search_loginBtn">로그인</a>
          <form class="search_form" action="/review/search">
            <input type="text" placeholder="리뷰 검색하기" />
            <button class="search_input_btn">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </header>
    <main class="width_container">
      <div class="update_main">
        <div class="update_content_container">
          <p class="update_detail">Review</p>
          <div class="update_edit_div">
            <a class="update_edit_edit">Edit</a>
            <span>/</span>
            <button class="update_edit_delete">Delete</button>
          </div>
          <p class="update_title"></p>
          <p class="update_description"></p>
          <div class="update_content_sub_container">
            <span class="update_category"></span>
            <span class="update_sub_title"></span>
          </div>
          <div class="comment_container">
            <div class="comment_input" method="POST">
              <form class="comment_form">
                <p class="comment_title">댓글</p>
                <div class="comment_input_box">
                  <input
                    type="text"
                    placeholder="댓글을 남겨 보세요"
                    class="update_comment_input"
                    name="comment_content"
                  />
                  <button class="comment_add_btn">등록</button>
                </div>
              </form>
            </div>
            <div class="comment_output">
              <ul class="comments"></ul>
            </div>
          </div>
        </div>
        <div class="update_user_container">
          <p class="user_name"></p>
          <ul class="icons_container">
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
          <div class="update_user_sub_container">
            <p>리뷰 보러가기 !</p>
            <a href="/review/profile">나의 글 보러가기</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
    <script src="/src/javascript/user.js"></script>
    <script src="/src/javascript/comment.js"></script>
    <script src="/src/javascript/update.js"></script>
  </body>
</html>
