<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰작성하기</title>
    <link rel="stylesheet" href="../../css/header.css" />
    <link rel="stylesheet" href="../../css/footer.css" />
    <link rel="stylesheet" href="../../css/update.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/review">REVIEW</a>
      </div>
      <nav class="nav">
        <a href="#">영화</a>
        <a href="#">책</a>
        <a href="#">앨범</a>
      </nav>
      <div class="search">
        <a href="#">내 정보</a>
        <a href="login.html">로그인</a>
        <input type="text" placeholder="리뷰 검색하기" />
      </div>
    </header>
    <main>
      <div class="update_main">
        <div class="update_content_container">
          <p class="update_detail">Review</p>
          <div class="update_edit_div">
            <a href="/review/new" class="update_edit_edit">Edit</a>
            <span>/</span>
            <button class="update_edit_delete">Delete</button>
          </div>
          <p class="update_title"></p>
          <p class="update_description"></p>
          <div class="update_content_sub_container">
            <span class="update_category"></span>
            <span class="update_sub_title"></span>
          </div>
          <div class="comment_container">
            <div class="comment_input" method="POST">
              <form class="comment_form">
                <p class="comment_title">댓글</p>
                <div class="comment_input_box">
                  <input
                    type="text"
                    placeholder="댓글을 남겨 보세요"
                    class="update_comment_input"
                    name="comment_content"
                  />
                  <button class="comment_add_btn">등록</button>
                </div>
              </form>
            </div>
            <div class="comment_output">
              <ul class="comments"></ul>
            </div>
          </div>
        </div>
        <div class="update_user_container">
          <p class="user_name">Hyebin</p>
          <ul class="icons_container">
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
          <div class="update_user_sub_container">
            <p>리뷰 보러가기 !</p>
            <a href="/review">전체글 보러가기</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
    <script src="../../javascript/update.js"></script>
    <script src="../../javascript/comment.js"></script>
  </body>
</html>
