<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰작성하기</title>
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/update.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/review">REVIEW</a>
      </div>
      <nav class="nav">
        <a href="#">영화</a>
        <a href="#">책</a>
        <a href="#">앨범</a>
      </nav>
      <div class="search">
        <a href="#">내 정보</a>
        <a href="login.html">로그인</a>
        <input type="text" placeholder="리뷰 검색하기" />
      </div>
    </header>
    <main>
      <div class="update_main">
        <div class="update_content_container">
          <p class="update_detail">Review</p>
          <p class="update_title">헬로방가방가</p>
          <p class="update_description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            laudantium dolore vero pariatur earum, hic incidunt laboriosam rem
            excepturi quis nulla voluptatem omnis velit recusandae fugiat cum.
            Provident, exercitationem necessitatibus. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Cum maxime odit provident repudiandae,
            repellat sequi incidunt, omnis aut obcaecati blanditiis quia
            accusamus ducimus modi beatae quisquam optiosse minus reiciendis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla aut,
            velit tenetur alias porro cum possimus eveniet suscipit fuga quasi,
            earum, facilis sequi rerum voluptatem? Impedit quibusdam minus
            provident ex.
          </p>
          <div class="update_content_sub_container">
            <span class="update_category">#영화</span>
            <span class="update_sub_title">#방가방가햄토리</span>
          </div>
          <div class="comment_container">
            <div class="comment_input">
              <p class="comment_title">댓글</p>
              <div class="comment_input_box">
                <input type="text" placeholder="댓글을 남겨 보세요" />
                <button>등록</button>
              </div>
            </div>
            <div class="comment_output">
              <ul class="comments">
                <li class="comments_feed">
                  <span class="comments_feed_userId">손님1234</span>
                  <span class="comments_feed_content">그러니깐요</span>
                </li>
                <li class="comments_feed">
                  <span class="comments_feed_userId">손님qwercqwe</span>
                  <span class="comments_feed_content">그러니깐요</span>
                </li>
                <li class="comments_feed">
                  <span class="comments_feed_userId">손님qwerqwer</span>
                  <span class="comments_feed_content">그러니깐요</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="update_user_container">
          <p class="user_name">Hyebin</p>
          <ul class="icons_container">
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
          <div class="update_user_sub_container">
            <p>리뷰 보러가기 !</p>
            <a href="/review">전체글 보러가기</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <h1>Footer</h1>
    </footer>
    <script src="../javascript/review.js"></script>
  </body>
</html>
