:root {
  --background: white;
  --first_width: 75rem;
  --border: #c9c8c8;
  --input_width: 15rem;
  --a_hover: gold;
}

footer {
  display: flex;
  max-width: var(--first_width);
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid var(--border);
}
footer h1 {
  font-size: 3rem;
  flex: 100%;
  padding: 1rem 0;
}
