:root {
  --background: white;
  --border: #c9c8c8;
  --input_width: 15rem;
  --intput_second_width: 6rem;
  --a_hover: gold;
  --first_width: 75rem;
  --second_width: 55rem;
  --third_width: 47rem;
  --fourth_width: 40rem;
  --fifth_width: 34rem;
  --sixth_width: 28rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

header {
  max-width: var(--first_width);
  margin: 0 auto;
  font-size: 1.2rem;
  padding-left: 0.5rem;
}
header a:hover {
  color: var(--a_hover);
}
.header_container {
  padding: 2rem 0;
  border-bottom: 1px solid var(--border);
  align-items: center;
  display: flex;
}

.logo {
  flex: 1 1 20%;
}
.nav {
  flex: 1 1 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search {
  flex: 1 1 40%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.search a {
  margin: 0 1rem;
}

.search input {
  border: 1px solid var(--border);
  padding: 0.4rem 0.5rem;
  width: var(--input_width);
  outline: none;
  border-right: none;
}
.search_input_btn {
  outline: none;
  border: 1px solid var(--border);
  border-left: none;
  cursor: pointer;
  margin-left: -0.1rem;
  padding-right: 1rem;
  background-color: white;
}
.search_input_btn i {
  margin-left: 1.2rem;
}
.search_form {
  display: flex;
}

@media screen and (max-width: 1025px) {
  header {
    max-width: var(--second_width);
  }
  .nav {
    flex: 1 1;
    padding: 0rem 0.5rem;
  }
  .logo {
    flex: 1 1;
  }
}
@media screen and (max-width: 900px) {
  header {
    max-width: var(--third_width);
  }
  .nav {
    flex: 1 1;
    padding: 0rem 0.5rem;
  }
  .logo {
    flex: 0;
  }
}
@media screen and (max-width: 767px) {
  header {
    max-width: var(--fourth_width);
  }
  .nav {
    display: none;
  }
  .logo {
    flex: 0;
  }
}
@media screen and (max-width: 599px) {
  header {
    max-width: var(--fifth_width);
  }
  .search input {
    width: var(--intput_second_width);
  }
  .nav {
    display: flex;
    justify-content: space-around;
  }
  .nav a {
  }
  * {
    font-size: 0.9rem;
  }

  .logo {
    flex: 0;
  }
}
@media screen and (max-width: 399px) {
  header {
    max-width: var(--sixth_width);
  }

  .nav {
    display: block;
  }
  .search input {
    width: var(--intput_second_width);
  }
  * {
    font-size: 0.7rem;
  }
  .logo {
    flex: 0;
  }
}
@media screen and (max-width: 380px) {
  header {
    max-width: var(--sixth_width);
  }
  .nav {
    display: none;
  }
  .search input {
    width: var(--intput_second_width);
  }

  .logo {
    flex: 0;
  }
}
