:root {
  --background: white;
  --first_width: 75rem;
  --border: #c9c8c8;
  --input_width: 15rem;
  --a_hover: gold;
}

* {
  font-family: "Jua", sans-serif;
  font-size: 1.1rem;
}
main {
  width: var(--first_width);
  margin: 0 auto;
}

.review_container {
  padding: 1rem 0;
}

main input,
select {
  width: 100%;
  padding: 0.3rem 0;
  margin: 0.3rem 0;
  outline: none;
}
main textarea {
  width: 100%;
  outline: none;
  height: 20rem;
  padding: 0.3rem;
}
.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.review_btn {
  padding: 0.5rem 5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
#input_submit {
  display: none;
}
