:root {
  --background: white;
  --first_width: 75rem;
  --border: #c9c8c8;
  --input_width: 15rem;
  --a_hover: gold;
}

body {
  width: 100%;
  height: 100vh;
}
* {
  font-family: "Jua", sans-serif;
  font-size: 1;
}
main {
  max-width: var(--first_width);
  margin: 0 auto;
  padding-left: 0.5rem;
}
.width_container {
  max-width: var(--first_width);
}

.review_container {
  padding: 1rem 0;
}

main input,
select {
  width: 100%;
  padding: 0.3rem 0;
  margin: 0.3rem 0;
  padding-left: 0.2rem;
  border: 1px solid var(--border);
  outline: none;
}
main textarea {
  width: 100%;
  outline: none;
  height: 20rem;
  padding: 0.3rem;
}
.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.review_btn {
  padding: 0.5rem 5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
#input_submit {
  display: none;
}
.add_image {
  display: none;
}
.image_btn {
  text-decoration: underline;
  cursor: pointer;
}
.add_content {
  padding-left: 0.1rem;
  outline: none;
  border: 1px solid var(--border);
  height: 25rem;
  overflow-y: scroll;
  cursor: text;
}

@media screen and (max-width: 1025px) {
  .width_container {
    max-width: var(--second_width);
  }
}
@media screen and (max-width: 900px) {
  .width_container {
    max-width: var(--third_width);
  }
}
@media screen and (max-width: 767px) {
  .width_container {
    max-width: var(--fourth_width);
  }
}
@media screen and (max-width: 599px) {
  .width_container {
    max-width: var(--fifth_width);
  }
}
@media screen and (max-width: 399px) {
  .width_container {
    max-width: var(--sixth_width);
  }
}
