:root {
  --background: white;
  --first_width: 75rem;
  --border: rgba(0, 0, 0, 0.816);
  --input_width: 15rem;
  --text_description: rgb(101, 101, 101);
  --a_hover: gold;
}
body {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.write {
  width: var(--first_width);
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
}
.write a:hover {
  color: var(--a_hover);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}

.contents_container {
  width: var(--first_width);
  margin: 0 auto;
  flex-direction: column;
}
.content {
  border-top: 1px solid var(--border);
  width: 100%;
  padding: 1rem 0;
}
.content a:hover {
  text-decoration: underline;
}
.content_box {
  display: flex;
}
.img_container {
  width: 10%;
}
.content_text_container {
  width: 90%;
  padding: 0 1rem;
}
.content_description {
  color: var(--text_description);
}
.img_container img {
  width: 100%;
  height: 5rem;
}
