:root {
  --background: white;
  --first_width: 75rem;
  --border: #c9c8c8;
  --input_width: 15rem;
  --text_description: rgb(68, 67, 67);
  --a_hover: gold;
  --font_sub: #757575;
  --second_width: 55rem;
  --third_width: 47rem;
  --fourth_width: 40rem;
  --fifth_width: 34rem;
  --sixth_width: 28rem;
}

body {
  width: 100%;
}

* {
  font-family: "Jua", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.write {
  padding: 0.5rem 0;
  display: flex;
}
.write a:hover {
  color: var(--a_hover);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.contents_container {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.content {
  border-top: 1px solid var(--border);
  width: 100%;
  padding: 1rem 0;
}
.content a:hover {
  text-decoration: underline;
}
.content_box {
  display: flex;
}
.img_container {
  width: 10%;
}
.content_text_container {
  width: 90%;
  padding-right: 5rem;
}

.content_user_container {
  padding-top: 0.3rem;
  font-size: 0.8rem;
}
.content_title {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.content_user {
  font-weight: 550;
}
.content_description {
  color: rgb(86, 78, 78);
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.img_container img {
  width: 100%;
  height: 5rem;
}
.content_sub_title,
.content_category {
  color: var(--font_sub);
  padding: 0 0.2rem;
}

.clean_h2 {
  padding-top: 1rem;
  border-top: 1px solid var(--border);
}
.width_container {
  max-width: var(--first_width);
}
.pagigator {
  border-top: 1px solid var(--border);
  padding: 1rem 0;
}
.pagigator_container {
  display: flex;
  justify-content: center;
}
.pagigator_container a {
  padding: 0.5rem;
  border-radius: 5px;
}
.pagigator_container a:hover {
  background-color: var(--a_hover);
}
.pagigator_list {
}
.active {
  background-color: var(--a_hover);
}

@media screen and (max-width: 1025px) {
  .width_container {
    max-width: var(--second_width);
  }
  .img_container {
    width: 20%;
  }
  .content_text_container {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .width_container {
    max-width: var(--third_width);
  }
}
@media screen and (max-width: 767px) {
  .width_container {
    max-width: var(--fourth_width);
  }
}
@media screen and (max-width: 599px) {
  .width_container {
    max-width: var(--fifth_width);
  }
}
@media screen and (max-width: 399px) {
  .width_container {
    max-width: var(--sixth_width);
  }
}
