:root {
  --background: white;
  --first_width: 75rem;
  --border: #c9c8c8;
  --input_width: 15rem;
  --text_description: rgb(68, 67, 67);
  --a_hover: gold;
  --font_sub: #757575;
}

body {
  width: 100%;
}

* {
  font-family: "Jua", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  font-size: 1.1rem;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.write {
  width: var(--first_width);
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
}
.write a:hover {
  color: var(--a_hover);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  max-width: var(--first_width);
}

.contents_container {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.content {
  border-top: 1px solid var(--border);
  width: 100%;
  padding: 1rem 0;
}
.content a:hover {
  text-decoration: underline;
}
.content_box {
  display: flex;
}
.img_container {
  width: 10%;
}
.content_text_container {
  width: 90%;
}

.content_user_container {
  padding-top: 0.3rem;
  font-size: 0.8rem;
}
.content_title {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.content_user {
  font-weight: 550;
}
.content_description {
  color: rgb(86, 78, 78);
  font-size: 0.8em;
  overflow: hidden;
}
.img_container img {
  width: 100%;
  height: 5rem;
}
.content_sub_title,
.content_category {
  color: var(--font_sub);
  padding: 0 0.2rem;
}

.profile_content_length {
  padding-bottom: 1rem;
}
