:root {
  --background: white;
  --first_width: 75rem;
  --border: #c9c8c8;
  --input_width: 15rem;
  --text_description: rgb(68, 67, 67);
  --a_hover: gold;
  --font_sub: #757575;
}

* {
  font-family: "Jua", sans-serif;
}

main {
  width: 100%;
  padding-left: 0.5rem;
  margin: 0 auto;
}
.update_main {
  display: flex;
}
.width_container {
  max-width: var(--first_width);
}
.update_content_container {
  flex: 1 1 60%;
  padding: 1.5rem 0;
  padding-right: 1rem;
}
.update_user_container {
  flex: 1 1 40%;
  border-left: 1px solid var(--border);
  text-align: center;
  padding: 0.5rem 1rem;
}

.update_user_sub_container {
  border-top: 1px solid var(--border);
  padding: 0.3rem 2rem;
  display: flex;
  flex-direction: column;
}
.update_user_sub_container p {
  padding: 0.2rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.update_user_sub_container a {
  padding: 0.5rem;
  border-radius: 2%;
  background-color: rgb(255, 255, 79);
  color: black;
}
.update_user_sub_container a:hover {
  background-color: var(--a_hover);
}
.user_name {
  margin-top: 1rem;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.icons_container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.icons_container li {
  padding: 0 0.8rem;
}
.icons_container li a {
  padding: 0.5rem 0.7rem;
}
.icons_container li a:hover {
  background-color: var(--a_hover);
  border-radius: 50%;
}

.update_detail {
  color: var(--font_sub);
}
.update_title {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.update_description {
  font-size: 0.9rem;
}
.update_content_sub_container {
  padding: 2rem 0;
}
.update_content_sub_container span {
  color: var(--font_sub);
}

.update_edit_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.update_edit_edit {
  padding: 0.4rem;
}

.update_edit_delete {
  background-color: white;
  border: none;
  outline: none;
  font-weight: 500;
  padding: 0 0.4rem;
  padding-top: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
}
.update_edit_delete:hover,
.update_edit_edit:hover {
  color: var(--a_hover);
}

/*  */
.comment_container {
  border-top: 1px solid var(--border);
  padding-top: 1rem;
}
.comment_input_box {
  display: flex;
  align-content: center;
}
.comment_input_box input {
  flex: 1 1 50%;
  padding: 0.3rem 0;
  outline: none;
}
.comment_input_box button {
  outline: none;
}
.comment_title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}
.comments_feed {
  padding: 0.7rem 0;
}
.comments_feed_userId {
  font-weight: bold;
  padding-right: 0.2rem;
}

.comment_date {
  color: var(--border);
  font-size: 0.7rem;
}

@media screen and (max-width: 1025px) {
  .width_container {
    max-width: var(--second_width);
  }
}
@media screen and (max-width: 900px) {
  .width_container {
    max-width: var(--third_width);
  }
}
@media screen and (max-width: 767px) {
  .width_container {
    max-width: var(--fourth_width);
  }
}
@media screen and (max-width: 599px) {
  .width_container {
    max-width: var(--fifth_width);
  }
}
@media screen and (max-width: 399px) {
  .width_container {
    max-width: var(--sixth_width);
  }
}
